<div class="card" [class.no-padding]="!padding">
    <div class="card-header" *ngIf="title">
        <div class="card-title-group">
            <span class="card-icon" *ngIf="icon">{{ icon }}</span>
            <div>
                <h3 class="card-title">{{ title }}</h3>
                <p class="card-subtitle" *ngIf="subtitle">{{ subtitle }}</p>
            </div>
        </div>
        <div class="card-actions">
            <ng-content select="[card-actions]"></ng-content>
        </div>
    </div>
    <div class="card-body" [class.has-header]="title">
        <ng-content></ng-content>
    </div>
</div>